.content{
    margin: 0 auto;
    width: 940px;
}

.form_box{
    width: 100%;
    height: 800px;
    border: solid 1px #EFEFEF;
    padding: 15px;
    box-sizing: border-box;;
}

.form_box > ul{
    border-bottom: dashed 1px #EFEFEF;
}

.content_brands{
    display: flex;
    justify-content: space-between;
}

.all_brands ul li{
    display: inline-block;
    margin: 0 30px 20px;
    font-size: 14px;
}

.brand{
    color: #A8A8A8;
    width: 150px;
}

.more_btn{
    display: flex;
    justify-content: flex-end;
    color: #A8A8A8;
    /*width: 120px;*/
}

.more_btn:hover{
    color: red;
    cursor: pointer;
}

.more>ul{}

.more ul{}